body {background-color: dimgrey;}



h2{
    color: white;
    margin-left: 30px;
}
h3{
    color: white;
    margin-left: 30px;
}
p{
    color:white;
}
ol{
    color: white;
}
ul{
    color:white;
}
a:link, a:visited, a:hover{
    color: white;
}


tr{
    color:white;
    background-color: #333;
}
hr{
    height:2px;
    background-color: red;
}

.text-center{
    text-align: center;
}









